{% extends "blog/base.html" %}

{% block title %}{{ post.title }} - TheBlogs{% endblock %}

{% block content %}
<article aria-labelledby="post-title">
    <h2 id="post-title">{{ post.title }}</h2>
    <p class="post-meta">
        By <a href="{% url 'author_posts' post.author.pk %}">{{ post.author.name }}</a>
        on <time datetime="{{ post.created_at|date:'c' }}">{{ post.created_at }}</time>
    </p>
    <div class="post-content">{{ post.content }}</div>
</article>
<p><a href="{% url 'index' %}">&larr; Back to all posts</a></p>
{% endblock %}
